.cart-container {
	background: #fff;
	padding: 4rem;
}

.cart-container .btn,
.cart-item-action .btn,
.cart-header .btn {
	border: 2px solid #541a19;
	background: #541a19;
	color: #fff;
}

.cart-container .btn:hover,
.cart-item-action .btn:hover,
.cart-header .btn:hover {
	background: #fff;
	border: 2px solid #541a19;
	color: #541a19;
}

.cart-total {
	font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
	.content.content-cart {
		padding: 1rem !important;
	}
	.cart-container {
		padding: 1rem;
	}

	.content.content-cart *.btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.7rem;
	}

	.btn.cart-clear {
		padding-left: 0.4rem !important;
		padding-right: 0.4rem !important;
	}

	.cart-header .cart-infos {
		font-size: 0.9rem;
	}

	.cart-body .item-container {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.cart-footer .cart-total {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 992px) {
	.cart-item-info .w-25 {
		width: 40% !important;
		margin-bottom: 1rem;
	}

	.cart-item-info .item-title {
		margin-left: 1rem !important;
	}
	.item-container {
		padding-bottom: 1.2rem !important;
	}
}
