nav {
	background: #fff;
	border-bottom: 3.5px solid #541a19;
}

.navbar-brand img {
	height: 35px;
}

.btn .fa.fa-shopping-cart {
	font-size: 1.3rem;
	color: #201f1f;
}

.btn .cart-item-count {
	display: inline-block;
	background: #541a19;
	color: #fff;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	font-size: 0.8rem;
	position: relative;
	top: -15px;
	right: 7px;
}

#main-container {
	margin-top: 4rem;
	background: url('/images/background.jpg') center center fixed no-repeat;
	background-size: cover;
}

footer {
	background: #541a19;
	color: #adadad;
}

#footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

#logo-container img {
	height: 25px;
}

@media screen and (max-width: 768px) {
	.navbar-brand img {
		height: 25px;
	}

	#logo-container img {
		height: 20px;
	}

	#footer-container {
		font-size: 0.8rem;
		display: flex;
		flex-direction: column;
	}
}
