.card {
	transition: ease-out 0.3s;
}

.card:hover {
	box-shadow: 0px 1px 10px #201f1f;
	transition: ease-out 0.3s;
}

.image-container {
	overflow: hidden;
}

.image-container img {
	transition: ease-out 0.3s;
}

.image-container img:hover {
	transform: scale(1.1);
	transition: ease-out 0.3s;
}

.card-product-footer .incart-status {
	font-size: 0.6rem;
	padding-top: 0.3rem !important;
	padding-bottom: 0.3rem !important;
}

.card-product-footer .btn {
	padding-top: 0rem;
	padding-bottom: 0rem;
	border: 2px solid #541a19;
	background: #541a19;
	color: #fff;
}
.card-product-footer .btn:hover {
	background: #fff;
	border: 2px solid #541a19;
	color: #541a19;
}

.btn .fa-cart-plus {
	font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
	.product-count .btn {
		border: 2px solid #541a19;
		background: #541a19;
		color: #fff;
		padding-top: 0.2rem;
	}

	.product-count .btn:hover {
		color: #fff;
	}
}
