.product-container {
	background: #fff;
	padding: 3rem 8rem;
}

.button-container .btn {
	border: 2px solid #541a19;
	background: #541a19;
	color: #fff;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.button-container .btn:hover {
	background: #fff;
	border: 2px solid #541a19;
	color: #541a19;
}

@media screen and (max-width: 992px) {
	.content-details {
		padding: 1rem !important;
	}

	.product-container {
		padding: 1rem;
	}

	.product-container .img-container {
		text-align: center;
	}

	.product-title-container h1 {
		font-size: 2rem;
	}

	.product-title {
		font-size: 1.4rem;
	}

	.product-container .img-container .w-100 {
		width: 65% !important;
	}

	.button-container span,
	.button-container .btn,
	.button-container .fa-chevron-left {
		font-size: 0.8rem;
	}
}
