.side-content {
	background: rgba(173, 173, 173, 0.8);
}

.filter-box {
	background: #fff;
	padding: 1rem 1.3rem 1.5rem 1.5rem;
}

.filter-title {
	font-weight: 700;
}

@media screen and (max-width: 992px) {
	.form-check-label {
		margin-right: 2.6rem;
	}
}
